<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  </head>
  <body ng-app="menuApp">
    <div ng-controller="entryController">
      <form id="menuEntry" ng>
      Menu Entry:<br>
        <input type="text" id="menuText" value="Menu Entry" ng-model="entry.input">
        <br>
        <select id="day" ng-model="entry.day">
          <option value="Sunday" />Sunday
          <option value="Monday" />Monday
          <option value="Tuesday" />Tuesday
          <option value="Wednesday" />Wednesday
          <option value="Thursday" />Thursday
          <option value="Friday" />Friday
          <option value="Saturday" />Saturday
        </select>
        <select id="meal" ng-model="entry.meal">
          <option value="Breakfast" />Breakfast
          <option value="Lunch" />Lunch
          <option value="Dinner" />Dinner
          <option value="Snacks" />Snacks
        </select>
        <input type="submit" value="Add to Menu" ng-click="addEntry(entry)">
        <pre>entry = {{ entry }}</pre>
        <pre>entries = {{ entries }}</pre>
      </form>
    <div>
<!--       <table style="width:50%">
        <tr ng-repeat="each in entries">
          <td>{{ each.day }}</td>
          <td>{{ each.meal }}</td> 
          <td>{{ each.input }}</td>
        </tr>
      </table> -->
      <TABLE BORDER=3 width=340 CELLSPACING=3 CELLPADDING=3 ng-repeat="each in entries">
        <TR>
          <TD ROWSPAN="3" ALIGN=center WIDTH="200">{{ each.day }}</TD>
          <TD ALIGN=center WIDTH="200">{{ each.meal }}</TD>
          <TD ALIGN=center WIDTH="200">{{ each.input }}</TD>
        </TR>
        <TR>
          <TD ALIGN=center WIDTH="200">{{ each.meal }}</TD>
          <TD ALIGN=center WIDTH="200">{{ each.input }}</TD>
        </TR>
        <TR>
          <TD ALIGN=center WIDTH="200">{{ each.meal }}</TD>
          <TD ALIGN=center WIDTH="200">{{ each.input }}</TD>
        </TR>
      </TABLE>
    </div>

    </div>
    <script src="/menuApp.js"></script>
    <script src="/entryController.js"></script>
  </body>
</html>